<div {{action "onClickTitle"}} class="home-faq__question {{classOpened}}">

  <div class="home-faq__question-label">
    <h3 class="title title--home-faq">{{ title }}</h3>
    <i class="icon icon-{{if isShown "arrow-up" "arrow-down"}}"></i>
  </div>

  {{#if isShown}}
    {{yield}}
  {{/if}}

</div>
