<h1>{{ model.server.name }}</h1>

{{input type="text" value=search enter="searchSong" class="input input--pick"}}

{{#if searching}}
    {{#helpers/loading-text text="Loading the search results"}}{{/helpers/loading-text}}
{{/if}}

<div class="songs">
    {{#each songs as |song|}}
        <div class="songs__song">
            <div class="grid grid--center">

                <div class="grid__cell grid__cell--30">
                    <div class="songs__song-picture">
                        <img src="{{song.thumbnail}}" />
                    </div>
                </div>

                <div class="grid__cell grid__cell--70">
                    <div class="songs__song-details">
                        <div class="songs__song-details-title">{{song.title}}</div>
                        <div class="songs__song-details-push">
                            <button {{action "onClickPushSong" song}} class="button button--push-song">Push Song</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {{/each}}
</div>
